@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?9530318');
    src: url('../fonts/fontello.eot?9530318#iefix') format('embedded-opentype'),
         url('../fonts/fontello.woff?9530318') format('woff'),
         url('../fonts/fontello.ttf?9530318') format('truetype'),
         url('../fonts/fontello.svg?9530318#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?9530318#fontello') format('svg');
    }
  }
  */
   
   [class^="md-"]:before, [class*=" md-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
       
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
   
  .md-glass:before { content: '\e800'; } /* 'î €' */
  .md-music:before { content: '\e801'; } /* 'î ' */
  .md-search:before { content: '\e802'; } /* 'î ‚' */
  .md-mail:before { content: '\e803'; } /* 'î ƒ' */
  .md-mail-alt:before { content: '\e804'; } /* 'î „' */
  .md-mail-squared:before { content: '\e805'; } /* 'î …' */
  .md-heart:before { content: '\e806'; } /* 'î †' */
  .md-heart-empty:before { content: '\e807'; } /* 'î ‡' */
  .md-star:before { content: '\e808'; } /* 'î ˆ' */
  .md-star-empty:before { content: '\e809'; } /* 'î ‰' */
  .md-star-half:before { content: '\e80a'; } /* 'î ' */
  .md-star-half-alt:before { content: '\e80b'; } /* 'î ‹' */
  .md-user:before { content: '\e80c'; } /* 'î Œ' */
  .md-users:before { content: '\e80d'; } /* 'î ' */
  .md-male:before { content: '\e80e'; } /* 'î ' */
  .md-female:before { content: '\e80f'; } /* 'î ' */
  .md-child:before { content: '\e810'; } /* 'î ' */
  .md-video:before { content: '\e811'; } /* 'î ‘' */
  .md-videocam:before { content: '\e812'; } /* 'î ’' */
  .md-picture:before { content: '\e813'; } /* 'î “' */
  .md-minus-squared-alt:before { content: '\e814'; } /* 'î ”' */
  .md-minus-squared:before { content: '\e815'; } /* 'î •' */
  .md-minus-circled:before { content: '\e816'; } /* 'î –' */
  .md-minus:before { content: '\e817'; } /* 'î —' */
  .md-plus-squared-alt:before { content: '\e818'; } /* 'î ˜' */
  .md-plus-squared:before { content: '\e819'; } /* 'î ™' */
  .md-plus-circled:before { content: '\e81a'; } /* 'î ' */
  .md-plus:before { content: '\e81b'; } /* 'î ›' */
  .md-cancel-circled2:before { content: '\e81c'; } /* 'î œ' */
  .md-cancel-circled:before { content: '\e81d'; } /* 'î ' */
  .md-cancel:before { content: '\e81e'; } /* 'î ' */
  .md-ok-squared:before { content: '\e81f'; } /* 'î Ÿ' */
  .md-ok-circled2:before { content: '\e820'; } /* 'î  ' */
  .md-ok-circled:before { content: '\e821'; } /* 'î ¡' */
  .md-ok:before { content: '\e822'; } /* 'î ¢' */
  .md-th-list:before { content: '\e823'; } /* 'î £' */
  .md-th:before { content: '\e824'; } /* 'î ¤' */
  .md-camera-alt:before { content: '\e825'; } /* 'î ¥' */
  .md-camera:before { content: '\e826'; } /* 'î ¦' */
  .md-th-large:before { content: '\e827'; } /* 'î §' */
  .md-info-circled:before { content: '\e828'; } /* 'î ¨' */
  .md-help-circled:before { content: '\e829'; } /* 'î ©' */
  .md-help:before { content: '\e82a'; } /* 'î ª' */
  .md-flag:before { content: '\e82b'; } /* 'î «' */
  .md-flag-empty:before { content: '\e82c'; } /* 'î ¬' */
  .md-flag-checkered:before { content: '\e82d'; } /* 'î ­' */
  .md-thumbs-up:before { content: '\e82e'; } /* 'î ®' */
  .md-info:before { content: '\e82f'; } /* 'î ¯' */
  .md-home:before { content: '\e830'; } /* 'î °' */
  .md-thumbs-down:before { content: '\e831'; } /* 'î ±' */
  .md-thumbs-up-alt:before { content: '\e832'; } /* 'î ²' */
  .md-link:before { content: '\e833'; } /* 'î ³' */
  .md-unlink:before { content: '\e834'; } /* 'î ´' */
  .md-thumbs-down-alt:before { content: '\e835'; } /* 'î µ' */
  .md-download:before { content: '\e836'; } /* 'î ¶' */
  .md-link-ext:before { content: '\e837'; } /* 'î ·' */
  .md-link-ext-alt:before { content: '\e838'; } /* 'î ¸' */
  .md-upload:before { content: '\e839'; } /* 'î ¹' */
  .md-download-cloud:before { content: '\e83a'; } /* 'î º' */
  .md-attach:before { content: '\e83b'; } /* 'î »' */
  .md-lock:before { content: '\e83c'; } /* 'î ¼' */
  .md-upload-cloud:before { content: '\e83d'; } /* 'î ½' */
  .md-reply:before { content: '\e83e'; } /* 'î ¾' */
  .md-lock-open:before { content: '\e83f'; } /* 'î ¿' */
  .md-lock-open-alt:before { content: '\e840'; } /* 'î¡€' */
  .md-reply-all:before { content: '\e841'; } /* 'î¡' */
  .md-forward:before { content: '\e842'; } /* 'î¡‚' */
  .md-pin:before { content: '\e843'; } /* 'î¡ƒ' */
  .md-eye:before { content: '\e844'; } /* 'î¡„' */
  .md-quote-left:before { content: '\e845'; } /* 'î¡…' */
  .md-quote-right:before { content: '\e846'; } /* 'î¡†' */
  .md-eye-off:before { content: '\e847'; } /* 'î¡‡' */
  .md-tag:before { content: '\e848'; } /* 'î¡ˆ' */
  .md-code:before { content: '\e849'; } /* 'î¡‰' */
  .md-export:before { content: '\e84a'; } /* 'î¡' */
  .md-tags:before { content: '\e84b'; } /* 'î¡‹' */
  .md-bookmark:before { content: '\e84c'; } /* 'î¡Œ' */
  .md-export-alt:before { content: '\e84d'; } /* 'î¡' */
  .md-share:before { content: '\e84e'; } /* 'î¡' */
  .md-bookmark-empty:before { content: '\e84f'; } /* 'î¡' */
  .md-location:before { content: '\e850'; } /* 'î¡' */
  .md-attention-circled:before { content: '\e851'; } /* 'î¡‘' */
  .md-attention:before { content: '\e852'; } /* 'î¡’' */
  .md-attention-alt:before { content: '\e853'; } /* 'î¡“' */
  .md-bell-off-empty:before { content: '\e854'; } /* 'î¡”' */
  .md-bell-off:before { content: '\e855'; } /* 'î¡•' */
  .md-bell-alt:before { content: '\e856'; } /* 'î¡–' */
  .md-bell:before { content: '\e857'; } /* 'î¡—' */
  .md-chat-empty:before { content: '\e858'; } /* 'î¡˜' */
  .md-comment-empty:before { content: '\e859'; } /* 'î¡™' */
  .md-chat:before { content: '\e85a'; } /* 'î¡' */
  .md-comment:before { content: '\e85b'; } /* 'î¡›' */
  .md-gamepad:before { content: '\e85c'; } /* 'î¡œ' */
  .md-keyboard:before { content: '\e85d'; } /* 'î¡' */
  .md-retweet:before { content: '\e85e'; } /* 'î¡' */
  .md-print:before { content: '\e85f'; } /* 'î¡Ÿ' */
  .md-edit:before { content: '\e860'; } /* 'î¡ ' */
  .md-pencil-squared:before { content: '\e861'; } /* 'î¡¡' */
  .md-pencil:before { content: '\e862'; } /* 'î¡¢' */
  .md-share-squared:before { content: '\e863'; } /* 'î¡£' */
  .md-direction:before { content: '\e864'; } /* 'î¡¤' */
  .md-compass:before { content: '\e865'; } /* 'î¡¥' */
  .md-trash:before { content: '\e866'; } /* 'î¡¦' */
  .md-trash-empty:before { content: '\e867'; } /* 'î¡§' */
  .md-doc:before { content: '\e868'; } /* 'î¡¨' */
  .md-docs:before { content: '\e869'; } /* 'î¡©' */
  .md-doc-text:before { content: '\e86a'; } /* 'î¡ª' */
  .md-doc-inv:before { content: '\e86b'; } /* 'î¡«' */
  .md-doc-text-inv:before { content: '\e86c'; } /* 'î¡¬' */
  .md-file-pdf:before { content: '\e86d'; } /* 'î¡­' */
  .md-file-word:before { content: '\e86e'; } /* 'î¡®' */
  .md-file-excel:before { content: '\e86f'; } /* 'î¡¯' */
  .md-file-powerpoint:before { content: '\e870'; } /* 'î¡°' */
  .md-file-image:before { content: '\e871'; } /* 'î¡±' */
  .md-file-archive:before { content: '\e872'; } /* 'î¡²' */
  .md-file-audio:before { content: '\e873'; } /* 'î¡³' */
  .md-file-video:before { content: '\e874'; } /* 'î¡´' */
  .md-file-code:before { content: '\e875'; } /* 'î¡µ' */
  .md-folder:before { content: '\e876'; } /* 'î¡¶' */
  .md-folder-open:before { content: '\e877'; } /* 'î¡·' */
  .md-mute:before { content: '\e878'; } /* 'î¡¸' */
  .md-mic:before { content: '\e879'; } /* 'î¡¹' */
  .md-logout:before { content: '\e87a'; } /* 'î¡º' */
  .md-login:before { content: '\e87b'; } /* 'î¡»' */
  .md-calendar-empty:before { content: '\e87c'; } /* 'î¡¼' */
  .md-calendar:before { content: '\e87d'; } /* 'î¡½' */
  .md-basket:before { content: '\e87e'; } /* 'î¡¾' */
  .md-sliders:before { content: '\e87f'; } /* 'î¡¿' */
  .md-wrench:before { content: '\e880'; } /* 'î¢€' */
  .md-cog-alt:before { content: '\e881'; } /* 'î¢' */
  .md-cog:before { content: '\e882'; } /* 'î¢‚' */
  .md-menu:before { content: '\e883'; } /* 'î¢ƒ' */
  .md-fax:before { content: '\e884'; } /* 'î¢„' */
  .md-phone-squared:before { content: '\e885'; } /* 'î¢…' */
  .md-phone:before { content: '\e886'; } /* 'î¢†' */
  .md-rss-squared:before { content: '\e887'; } /* 'î¢‡' */
  .md-rss:before { content: '\e888'; } /* 'î¢ˆ' */
  .md-box:before { content: '\e889'; } /* 'î¢‰' */
  .md-folder-open-empty:before { content: '\e88a'; } /* 'î¢' */
  .md-folder-empty:before { content: '\e88b'; } /* 'î¢‹' */
  .md-volume-off:before { content: '\e88c'; } /* 'î¢Œ' */
  .md-volume-down:before { content: '\e88d'; } /* 'î¢' */
  .md-volume-up:before { content: '\e88e'; } /* 'î¢' */
  .md-headphones:before { content: '\e88f'; } /* 'î¢' */
  .md-clock:before { content: '\e890'; } /* 'î¢' */
  .md-lightbulb:before { content: '\e891'; } /* 'î¢‘' */
  .md-block:before { content: '\e892'; } /* 'î¢’' */
  .md-resize-full:before { content: '\e893'; } /* 'î¢“' */
  .md-resize-full-alt:before { content: '\e894'; } /* 'î¢”' */
  .md-resize-small:before { content: '\e895'; } /* 'î¢•' */
  .md-resize-vertical:before { content: '\e896'; } /* 'î¢–' */
  .md-resize-horizontal:before { content: '\e897'; } /* 'î¢—' */
  .md-move:before { content: '\e898'; } /* 'î¢˜' */
  .md-zoom-in:before { content: '\e899'; } /* 'î¢™' */
  .md-zoom-out:before { content: '\e89a'; } /* 'î¢' */
  .md-down-circled2:before { content: '\e89b'; } /* 'î¢›' */
  .md-up-circled2:before { content: '\e89c'; } /* 'î¢œ' */
  .md-left-circled2:before { content: '\e89d'; } /* 'î¢' */
  .md-right-circled2:before { content: '\e89e'; } /* 'î¢' */
  .md-down-dir:before { content: '\e89f'; } /* 'î¢Ÿ' */
  .md-down:before { content: '\e8a0'; } /* 'î¢ ' */
  .md-angle-double-down:before { content: '\e8a1'; } /* 'î¢¡' */
  .md-angle-double-up:before { content: '\e8a2'; } /* 'î¢¢' */
  .md-angle-double-right:before { content: '\e8a3'; } /* 'î¢£' */
  .md-angle-double-left:before { content: '\e8a4'; } /* 'î¢¤' */
  .md-angle-circled-down:before { content: '\e8a5'; } /* 'î¢¥' */
  .md-angle-circled-up:before { content: '\e8a6'; } /* 'î¢¦' */
  .md-angle-circled-right:before { content: '\e8a7'; } /* 'î¢§' */
  .md-angle-circled-left:before { content: '\e8a8'; } /* 'î¢¨' */
  .md-angle-down:before { content: '\e8a9'; } /* 'î¢©' */
  .md-angle-up:before { content: '\e8aa'; } /* 'î¢ª' */
  .md-angle-right:before { content: '\e8ab'; } /* 'î¢«' */
  .md-angle-left:before { content: '\e8ac'; } /* 'î¢¬' */
  .md-up-open:before { content: '\e8ad'; } /* 'î¢­' */
  .md-right-open:before { content: '\e8ae'; } /* 'î¢®' */
  .md-left-open:before { content: '\e8af'; } /* 'î¢¯' */
  .md-down-open:before { content: '\e8b0'; } /* 'î¢°' */
  .md-right-dir:before { content: '\e8b1'; } /* 'î¢±' */
  .md-left-dir:before { content: '\e8b2'; } /* 'î¢²' */
  .md-up-dir:before { content: '\e8b3'; } /* 'î¢³' */
  .md-left:before { content: '\e8b4'; } /* 'î¢´' */
  .md-right:before { content: '\e8b5'; } /* 'î¢µ' */
  .md-up:before { content: '\e8b6'; } /* 'î¢¶' */
  .md-down-big:before { content: '\e8b7'; } /* 'î¢·' */
  .md-left-big:before { content: '\e8b8'; } /* 'î¢¸' */
  .md-right-big:before { content: '\e8b9'; } /* 'î¢¹' */
  .md-up-big:before { content: '\e8ba'; } /* 'î¢º' */
  .md-right-hand:before { content: '\e8bb'; } /* 'î¢»' */
  .md-left-hand:before { content: '\e8bc'; } /* 'î¢¼' */
  .md-up-hand:before { content: '\e8bd'; } /* 'î¢½' */
  .md-down-hand:before { content: '\e8be'; } /* 'î¢¾' */
  .md-left-circled:before { content: '\e8bf'; } /* 'î¢¿' */
  .md-right-circled:before { content: '\e8c0'; } /* 'î£€' */
  .md-up-circled:before { content: '\e8c1'; } /* 'î£' */
  .md-down-circled:before { content: '\e8c2'; } /* 'î£‚' */
  .md-cw:before { content: '\e8c3'; } /* 'î£ƒ' */
  .md-ccw:before { content: '\e8c4'; } /* 'î£„' */
  .md-arrows-cw:before { content: '\e8c5'; } /* 'î£…' */
  .md-level-up:before { content: '\e8c6'; } /* 'î£†' */
  .md-level-down:before { content: '\e8c7'; } /* 'î£‡' */
  .md-target:before { content: '\e8c8'; } /* 'î£ˆ' */
  .md-eject:before { content: '\e8c9'; } /* 'î£‰' */
  .md-fast-bw:before { content: '\e8ca'; } /* 'î£' */
  .md-fast-fw:before { content: '\e8cb'; } /* 'î£‹' */
  .md-to-start-alt:before { content: '\e8cc'; } /* 'î£Œ' */
  .md-to-start:before { content: '\e8cd'; } /* 'î£' */
  .md-to-end-alt:before { content: '\e8ce'; } /* 'î£' */
  .md-to-end:before { content: '\e8cf'; } /* 'î£' */
  .md-pause:before { content: '\e8d0'; } /* 'î£' */
  .md-stop:before { content: '\e8d1'; } /* 'î£‘' */
  .md-play-circled2:before { content: '\e8d2'; } /* 'î£’' */
  .md-play:before { content: '\e8d3'; } /* 'î£“' */
  .md-play-circled:before { content: '\e8d4'; } /* 'î£”' */
  .md-collapse-left:before { content: '\e8d5'; } /* 'î£•' */
  .md-collapse:before { content: '\e8d6'; } /* 'î£–' */
  .md-expand-right:before { content: '\e8d7'; } /* 'î£—' */
  .md-expand:before { content: '\e8d8'; } /* 'î£˜' */
  .md-history:before { content: '\e8d9'; } /* 'î£™' */
  .md-exchange:before { content: '\e8da'; } /* 'î£' */
  .md-shuffle:before { content: '\e8db'; } /* 'î£›' */
  .md-signal:before { content: '\e8dc'; } /* 'î£œ' */
  .md-font:before { content: '\e8dd'; } /* 'î£' */
  .md-table:before { content: '\e8de'; } /* 'î£' */
  .md-check-empty:before { content: '\e8df'; } /* 'î£Ÿ' */
  .md-fork:before { content: '\e8e0'; } /* 'î£ ' */
  .md-rocket:before { content: '\e8e1'; } /* 'î£¡' */
  .md-columns:before { content: '\e8e2'; } /* 'î£¢' */
  .md-bold:before { content: '\e8e3'; } /* 'î££' */
  .md-wifi:before { content: '\e8e4'; } /* 'î£¤' */
  .md-circle:before { content: '\e8e5'; } /* 'î£¥' */
  .md-circle-empty:before { content: '\e8e6'; } /* 'î£¦' */
  .md-crop:before { content: '\e8e7'; } /* 'î£§' */
  .md-italic:before { content: '\e8e8'; } /* 'î£¨' */
  .md-award:before { content: '\e8e9'; } /* 'î£©' */
  .md-bug:before { content: '\e8ea'; } /* 'î£ª' */
  .md-certificate:before { content: '\e8eb'; } /* 'î£«' */
  .md-circle-thin:before { content: '\e8ec'; } /* 'î£¬' */
  .md-scissors:before { content: '\e8ed'; } /* 'î£­' */
  .md-header:before { content: '\e8ee'; } /* 'î£®' */
  .md-desktop:before { content: '\e8ef'; } /* 'î£¯' */
  .md-laptop:before { content: '\e8f0'; } /* 'î£°' */
  .md-paragraph:before { content: '\e8f1'; } /* 'î£±' */
  .md-paste:before { content: '\e8f2'; } /* 'î£²' */
  .md-circle-notch:before { content: '\e8f3'; } /* 'î£³' */
  .md-tasks:before { content: '\e8f4'; } /* 'î£´' */
  .md-dot-circled:before { content: '\e8f5'; } /* 'î£µ' */
  .md-filter:before { content: '\e8f6'; } /* 'î£¶' */
  .md-briefcase:before { content: '\e8f7'; } /* 'î£·' */
  .md-text-height:before { content: '\e8f8'; } /* 'î£¸' */
  .md-tablet:before { content: '\e8f9'; } /* 'î£¹' */
  .md-mobile:before { content: '\e8fa'; } /* 'î£º' */
  .md-text-width:before { content: '\e8fb'; } /* 'î£»' */
  .md-suitcase:before { content: '\e8fc'; } /* 'î£¼' */
  .md-asterisk:before { content: '\e8fd'; } /* 'î£½' */
  .md-beaker:before { content: '\e8fe'; } /* 'î£¾' */
  .md-magic:before { content: '\e8ff'; } /* 'î£¿' */
  .md-gift:before { content: '\e900'; } /* 'î¤€' */
  .md-ellipsis:before { content: '\e901'; } /* 'î¤' */
  .md-align-left:before { content: '\e902'; } /* 'î¤‚' */
  .md-inbox:before { content: '\e903'; } /* 'î¤ƒ' */
  .md-globe:before { content: '\e904'; } /* 'î¤„' */
  .md-align-center:before { content: '\e905'; } /* 'î¤…' */
  .md-ellipsis-vert:before { content: '\e906'; } /* 'î¤†' */
  .md-fire:before { content: '\e907'; } /* 'î¤‡' */
  .md-cab:before { content: '\e908'; } /* 'î¤ˆ' */
  .md-taxi:before { content: '\e909'; } /* 'î¤‰' */
  .md-magnet:before { content: '\e90a'; } /* 'î¤' */
  .md-off:before { content: '\e90b'; } /* 'î¤‹' */
  .md-align-right:before { content: '\e90c'; } /* 'î¤Œ' */
  .md-sun:before { content: '\e90d'; } /* 'î¤' */
  .md-cloud:before { content: '\e90e'; } /* 'î¤' */
  .md-align-justify:before { content: '\e90f'; } /* 'î¤' */
  .md-road:before { content: '\e910'; } /* 'î¤' */
  .md-chart-bar:before { content: '\e911'; } /* 'î¤‘' */
  .md-truck:before { content: '\e912'; } /* 'î¤’' */
  .md-bus:before { content: '\e913'; } /* 'î¤“' */
  .md-chart-area:before { content: '\e914'; } /* 'î¤”' */
  .md-list:before { content: '\e915'; } /* 'î¤•' */
  .md-flash:before { content: '\e916'; } /* 'î¤–' */
  .md-moon:before { content: '\e917'; } /* 'î¤—' */
  .md-indent-left:before { content: '\e918'; } /* 'î¤˜' */
  .md-qrcode:before { content: '\e919'; } /* 'î¤™' */
  .md-list-alt:before { content: '\e91a'; } /* 'î¤' */
  .md-chart-pie:before { content: '\e91b'; } /* 'î¤›' */
  .md-bicycle:before { content: '\e91c'; } /* 'î¤œ' */
  .md-chart-line:before { content: '\e91d'; } /* 'î¤' */
  .md-barcode:before { content: '\e91e'; } /* 'î¤' */
  .md-money:before { content: '\e91f'; } /* 'î¤Ÿ' */
  .md-indent-right:before { content: '\e920'; } /* 'î¤ ' */
  .md-umbrella:before { content: '\e921'; } /* 'î¤¡' */
  .md-flight:before { content: '\e922'; } /* 'î¤¢' */
  .md-list-bullet:before { content: '\e923'; } /* 'î¤£' */
  .md-book:before { content: '\e924'; } /* 'î¤¤' */
  .md-ticket:before { content: '\e925'; } /* 'î¤¥' */
  .md-euro:before { content: '\e926'; } /* 'î¤¦' */
  .md-pound:before { content: '\e927'; } /* 'î¤§' */
  .md-credit-card:before { content: '\e928'; } /* 'î¤¨' */
  .md-ajust:before { content: '\e929'; } /* 'î¤©' */
  .md-list-numbered:before { content: '\e92a'; } /* 'î¤ª' */
  .md-fighter-jet:before { content: '\e92b'; } /* 'î¤«' */
  .md-paper-plane:before { content: '\e92c'; } /* 'î¤¬' */
  .md-strike:before { content: '\e92d'; } /* 'î¤­' */
  .md-tint:before { content: '\e92e'; } /* 'î¤®' */
  .md-floppy:before { content: '\e92f'; } /* 'î¤¯' */
  .md-dollar:before { content: '\e930'; } /* 'î¤°' */
  .md-rupee:before { content: '\e931'; } /* 'î¤±' */
  .md-megaphone:before { content: '\e932'; } /* 'î¤²' */
  .md-toggle-off:before { content: '\e933'; } /* 'î¤³' */
  .md-underline:before { content: '\e934'; } /* 'î¤´' */
  .md-paper-plane-empty:before { content: '\e935'; } /* 'î¤µ' */
  .md-space-shuttle:before { content: '\e936'; } /* 'î¤¶' */
  .md-superscript:before { content: '\e937'; } /* 'î¤·' */
  .md-toggle-on:before { content: '\e938'; } /* 'î¤¸' */
  .md-hdd:before { content: '\e939'; } /* 'î¤¹' */
  .md-yen:before { content: '\e93a'; } /* 'î¤º' */
  .md-rouble:before { content: '\e93b'; } /* 'î¤»' */
  .md-key:before { content: '\e93c'; } /* 'î¤¼' */
  .md-check:before { content: '\e93d'; } /* 'î¤½' */
  .md-subscript:before { content: '\e93e'; } /* 'î¤¾' */
  .md-leaf:before { content: '\e93f'; } /* 'î¤¿' */
  .md-shekel:before { content: '\e940'; } /* 'î¥€' */
  .md-user-md:before { content: '\e941'; } /* 'î¥' */
  .md-language:before { content: '\e942'; } /* 'î¥‚' */
  .md-at:before { content: '\e943'; } /* 'î¥ƒ' */
  .md-css3:before { content: '\e944'; } /* 'î¥„' */
  .md-gwallet:before { content: '\e945'; } /* 'î¥…' */
  .md-pinterest-squared:before { content: '\e946'; } /* 'î¥†' */
  .md-twitch:before { content: '\e947'; } /* 'î¥‡' */
  .md-twitter-squared:before { content: '\e948'; } /* 'î¥ˆ' */
  .md-qq:before { content: '\e949'; } /* 'î¥‰' */
  .md-hacker-news:before { content: '\e94a'; } /* 'î¥' */
  .md-delicious:before { content: '\e94b'; } /* 'î¥‹' */
  .md-eyedropper:before { content: '\e94c'; } /* 'î¥Œ' */
  .md-graduation-cap:before { content: '\e94d'; } /* 'î¥' */
  .md-stethoscope:before { content: '\e94e'; } /* 'î¥' */
  .md-try:before { content: '\e94f'; } /* 'î¥' */
  .md-won:before { content: '\e950'; } /* 'î¥' */
  .md-ambulance:before { content: '\e951'; } /* 'î¥‘' */
  .md-paw:before { content: '\e952'; } /* 'î¥’' */
  .md-deviantart:before { content: '\e953'; } /* 'î¥“' */
  .md-html5:before { content: '\e954'; } /* 'î¥”' */
  .md-reddit:before { content: '\e955'; } /* 'î¥•' */
  .md-twitter:before { content: '\e956'; } /* 'î¥–' */
  .md-brush:before { content: '\e957'; } /* 'î¥—' */
  .md-birthday:before { content: '\e958'; } /* 'î¥˜' */
  .md-digg:before { content: '\e959'; } /* 'î¥™' */
  .md-instagramm:before { content: '\e95a'; } /* 'î¥' */
  .md-reddit-squared:before { content: '\e95b'; } /* 'î¥›' */
  .md-vimeo-squared:before { content: '\e95c'; } /* 'î¥œ' */
  .md-spoon:before { content: '\e95d'; } /* 'î¥' */
  .md-medkit:before { content: '\e95e'; } /* 'î¥' */
  .md-bitcoin:before { content: '\e95f'; } /* 'î¥Ÿ' */
  .md-sort:before { content: '\e960'; } /* 'î¥ ' */
  .md-h-sigh:before { content: '\e961'; } /* 'î¥¡' */
  .md-cube:before { content: '\e962'; } /* 'î¥¢' */
  .md-cc-visa:before { content: '\e963'; } /* 'î¥£' */
  .md-dribbble:before { content: '\e964'; } /* 'î¥¤' */
  .md-ioxhost:before { content: '\e965'; } /* 'î¥¥' */
  .md-renren:before { content: '\e966'; } /* 'î¥¦' */
  .md-vine:before { content: '\e967'; } /* 'î¥§' */
  .md-vkontakte:before { content: '\e968'; } /* 'î¥¨' */
  .md-skype:before { content: '\e969'; } /* 'î¥©' */
  .md-joomla:before { content: '\e96a'; } /* 'î¥ª' */
  .md-dropbox:before { content: '\e96b'; } /* 'î¥«' */
  .md-cc-mastercard:before { content: '\e96c'; } /* 'î¥¬' */
  .md-cubes:before { content: '\e96d'; } /* 'î¥­' */
  .md-hospital:before { content: '\e96e'; } /* 'î¥®' */
  .md-sort-down:before { content: '\e96f'; } /* 'î¥¯' */
  .md-sort-up:before { content: '\e970'; } /* 'î¥°' */
  .md-building:before { content: '\e971'; } /* 'î¥±' */
  .md-recycle:before { content: '\e972'; } /* 'î¥²' */
  .md-cc-discover:before { content: '\e973'; } /* 'î¥³' */
  .md-drupal:before { content: '\e974'; } /* 'î¥´' */
  .md-jsfiddle:before { content: '\e975'; } /* 'î¥µ' */
  .md-slack:before { content: '\e976'; } /* 'î¥¶' */
  .md-wechat:before { content: '\e977'; } /* 'î¥·' */
  .md-weibo:before { content: '\e978'; } /* 'î¥¸' */
  .md-slideshare:before { content: '\e979'; } /* 'î¥¹' */
  .md-facebook:before { content: '\e97a'; } /* 'î¥º' */
  .md-cc-amex:before { content: '\e97b'; } /* 'î¥»' */
  .md-tree:before { content: '\e97c'; } /* 'î¥¼' */
  .md-building-filled:before { content: '\e97d'; } /* 'î¥½' */
  .md-sort-alt-up:before { content: '\e97e'; } /* 'î¥¾' */
  .md-lastfm:before { content: '\e97f'; } /* 'î¥¿' */
  .md-windows:before { content: '\e980'; } /* 'î¦€' */
  .md-soundcloud:before { content: '\e981'; } /* 'î¦' */
  .md-lastfm-squared:before { content: '\e982'; } /* 'î¦‚' */
  .md-facebook-squared:before { content: '\e983'; } /* 'î¦ƒ' */
  .md-cc-paypal:before { content: '\e984'; } /* 'î¦„' */
  .md-database:before { content: '\e985'; } /* 'î¦…' */
  .md-sort-alt-down:before { content: '\e986'; } /* 'î¦†' */
  .md-sort-name-up:before { content: '\e987'; } /* 'î¦‡' */
  .md-bank:before { content: '\e988'; } /* 'î¦ˆ' */
  .md-smile:before { content: '\e989'; } /* 'î¦‰' */
  .md-lifebuoy:before { content: '\e98a'; } /* 'î¦' */
  .md-cc-stripe:before { content: '\e98b'; } /* 'î¦‹' */
  .md-flickr:before { content: '\e98c'; } /* 'î¦Œ' */
  .md-linkedin-squared:before { content: '\e98d'; } /* 'î¦' */
  .md-spotify:before { content: '\e98e'; } /* 'î¦' */
  .md-wordpress:before { content: '\e98f'; } /* 'î¦' */
  .md-xing:before { content: '\e990'; } /* 'î¦' */
  .md-stackexchange:before { content: '\e991'; } /* 'î¦‘' */
  .md-linux:before { content: '\e992'; } /* 'î¦’' */
  .md-foursquare:before { content: '\e993'; } /* 'î¦“' */
  .md-adn:before { content: '\e994'; } /* 'î¦”' */
  .md-rebel:before { content: '\e995'; } /* 'î¦•' */
  .md-frown:before { content: '\e996'; } /* 'î¦–' */
  .md-sort-name-down:before { content: '\e997'; } /* 'î¦—' */
  .md-sort-number-up:before { content: '\e998'; } /* 'î¦˜' */
  .md-meh:before { content: '\e999'; } /* 'î¦™' */
  .md-empire:before { content: '\e99a'; } /* 'î¦' */
  .md-android:before { content: '\e99b'; } /* 'î¦›' */
  .md-git-squared:before { content: '\e99c'; } /* 'î¦œ' */
  .md-linkedin:before { content: '\e99d'; } /* 'î¦' */
  .md-stackoverflow:before { content: '\e99e'; } /* 'î¦' */
  .md-xing-squared:before { content: '\e99f'; } /* 'î¦Ÿ' */
  .md-yelp:before { content: '\e9a0'; } /* 'î¦ ' */
  .md-steam:before { content: '\e9a1'; } /* 'î¦¡' */
  .md-maxcdn:before { content: '\e9a2'; } /* 'î¦¢' */
  .md-git:before { content: '\e9a3'; } /* 'î¦£' */
  .md-angellist:before { content: '\e9a4'; } /* 'î¦¤' */
  .md-bomb:before { content: '\e9a5'; } /* 'î¦¥' */
  .md-anchor:before { content: '\e9a6'; } /* 'î¦¦' */
  .md-sort-number-down:before { content: '\e9a7'; } /* 'î¦§' */
  .md-hammer:before { content: '\e9a8'; } /* 'î¦¨' */
  .md-terminal:before { content: '\e9a9'; } /* 'î¦©' */
  .md-soccer-ball:before { content: '\e9aa'; } /* 'î¦ª' */
  .md-apple:before { content: '\e9ab'; } /* 'î¦«' */
  .md-github:before { content: '\e9ac'; } /* 'î¦¬' */
  .md-meanpath:before { content: '\e9ad'; } /* 'î¦­' */
  .md-steam-squared:before { content: '\e9ae'; } /* 'î¦®' */
  .md-youtube:before { content: '\e9af'; } /* 'î¦¯' */
  .md-yahoo:before { content: '\e9b0'; } /* 'î¦°' */
  .md-stumbleupon:before { content: '\e9b1'; } /* 'î¦±' */
  .md-openid:before { content: '\e9b2'; } /* 'î¦²' */
  .md-github-squared:before { content: '\e9b3'; } /* 'î¦³' */
  .md-behance:before { content: '\e9b4'; } /* 'î¦´' */
  .md-tty:before { content: '\e9b5'; } /* 'î¦µ' */
  .md-eraser:before { content: '\e9b6'; } /* 'î¦¶' */
  .md-gauge:before { content: '\e9b7'; } /* 'î¦·' */
  .md-sitemap:before { content: '\e9b8'; } /* 'î¦¸' */
  .md-puzzle:before { content: '\e9b9'; } /* 'î¦¹' */
  .md-binoculars:before { content: '\e9ba'; } /* 'î¦º' */
  .md-behance-squared:before { content: '\e9bb'; } /* 'î¦»' */
  .md-github-circled:before { content: '\e9bc'; } /* 'î¦¼' */
  .md-pagelines:before { content: '\e9bd'; } /* 'î¦½' */
  .md-stumbleupon-circled:before { content: '\e9be'; } /* 'î¦¾' */
  .md-youtube-squared:before { content: '\e9bf'; } /* 'î¦¿' */
  .md-youtube-play:before { content: '\e9c0'; } /* 'î§€' */
  .md-blank:before { content: '\e9c1'; } /* 'î§' */
  .md-lemon:before { content: '\e9c2'; } /* 'î§‚' */
  .md-tumblr:before { content: '\e9c3'; } /* 'î§ƒ' */
  .md-trello:before { content: '\e9c4'; } /* 'î§„' */
  .md-tumblr-squared:before { content: '\e9c5'; } /* 'î§…' */
  .md-pinterest-circled:before { content: '\e9c6'; } /* 'î§†' */
  .md-pied-piper-alt:before { content: '\e9c7'; } /* 'î§‡' */
  .md-pied-piper-squared:before { content: '\e9c8'; } /* 'î§ˆ' */
  .md-tencent-weibo:before { content: '\e9c9'; } /* 'î§‰' */
  .md-paypal:before { content: '\e9ca'; } /* 'î§' */
  .md-gittip:before { content: '\e9cb'; } /* 'î§‹' */
  .md-gplus:before { content: '\e9cc'; } /* 'î§Œ' */
  .md-gplus-squared:before { content: '\e9cd'; } /* 'î§' */
  .md-google:before { content: '\e9ce'; } /* 'î§' */
  .md-bitbucket-squared:before { content: '\e9cf'; } /* 'î§' */
  .md-bitbucket:before { content: '\e9d0'; } /* 'î§' */
  .md-cc:before { content: '\e9d1'; } /* 'î§‘' */
  .md-codeopen:before { content: '\e9d2'; } /* 'î§’' */
  .md-copyright:before { content: '\e9d3'; } /* 'î§“' */
  .md-calc:before { content: '\e9d4'; } /* 'î§”' */
  .md-newspaper:before { content: '\e9d5'; } /* 'î§•' */
  .md-plug:before { content: '\e9d6'; } /* 'î§–' */
  .md-shield:before { content: '\e9d7'; } /* 'î§—' */
  .md-extinguisher:before { content: '\e9d8'; } /* 'î§˜' */
  .md-bullseye:before { content: '\e9d9'; } /* 'î§™' */
  .md-wheelchair:before { content: '\e9da'; } /* 'î§' */
  .md-beer:before { content: '\e9db'; } /* 'î§›' */
  .md-food:before { content: '\e9dc'; } /* 'î§œ' */
  .md-coffee:before { content: '\e9dd'; } /* 'î§' */
  .md-spinner:before { content: '\e9de'; } /* 'î§' */