.ctools-locked {
    color: red;
    border: 1px solid red;
    padding: 1em;
  }
  
  .ctools-owns-lock {
    background: #ffffdd none repeat scroll 0 0;
    border: 1px solid #f0c020;
    padding: 1em;
  }
  a {
    .ctools-ajaxing {
      padding-right: 18px !important;
    }
  }
  input {
    .ctools-ajaxing {
      padding-right: 18px !important;
    }
  }
  button {
    .ctools-ajaxing {
      padding-right: 18px !important;
    }
  }
  select {
    .ctools-ajaxing {
      padding-right: 18px !important;
    }
  }
 
  
  div {
    .ctools-ajaxing {
      float: left;
      width: 18px;
    }
  }