

.field {
  .field-label {
    font-weight: bold;
  }
}
.field-label-inline {
  .field-label {
    float:left;
  }
  .field-items {
    float:left;
  }
}
 
  form {
    .field-multiple-table {
      margin: 0;
      th {
        .field-label {
          padding-left: 0; /*LTR*/
        }
      }
      td {
        .field-multiple-drag {
          width: 30px;
          padding-right: 0; /*LTR*/
        }
        a {
          .tabledrag-handle {
            padding-right: .5em; /*LTR*/
          }
        }
      }
      
    }
    .field-add-more-submit {
      margin: .5em 0 0;
    }
    
  }
