div {
  .panel-pane {
    :hover  {
      div {
        .panel-hide {
          display: block;
          position: absolute;
          z-index: 200;
          margin-top: -1.5em;
        }
      }
    }
    div {
      .admin-links {
        font-size: xx-small;
        margin-right: 1em;
        li { 
          
          a {
            color: #ccc;
          }
          padding-bottom: 2px;
          background: white;
          z-index: 201;
        }
        :hover {
          a {
            color: #000;
          }
        }
      }
      .panel-hide {
        display: none;
      }
      .panel-hide-hover {
        display: block;
        position: absolute;
        z-index: 200;
        margin-top: -1.5em;
      }
      .feed {
        a {
          float: right;
        }
      }
      .admin-links-hover {
        a {
          color: #000;
        }
      }
      a {
        :before {
          content: "";
        }
        :after {
          content: "";
        }
      }
     
    }
    
  }
}


  
