
.search-form {
    margin-bottom: 1em;
    input {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .search-results {
    list-style: none;
    p {
      margin-top: 0;
    }
    li {
      margin-bottom: 1em;
    }
    .title {
      font-size: 1.2em;
    }
    .search-snippet-info {
      padding-left: 1em; /* LTR */
    }
    .search-info {
      font-size: 0.85em;
    }
  }
 
  .search-advanced {
    .criterion {
      float: left; /* LTR */
      margin-right: 2em; /* LTR */
    }
    .action {
      float: left; /* LTR */
      clear: left; /* LTR */
    }
  }
 