
/**
 * @file
 * Styles for system messages.
 */

 div {
  .messages {
    background-position: 8px 8px; /* LTR */
    background-repeat: no-repeat;
    border: 1px solid;
    margin: 6px 0;
    padding: 10px 10px 10px 50px; /* LTR */
  }
  .status {
    background-image: url(../../images/message-24-ok.png);
    border-color: #be7;
    color: #234600;
    background-color: #f8fff0;
  }
  .warning {
    background-image: url(../../images/message-24-warning.png);
    border-color: #ed5;
    background-color: #fffce5;
  }
  .error {
    background-image: url(../../images/message-24-error.png);
    border-color: #ed541d;
    color: #8c2e0b;
    background-color: #fef5f1;
    p {
      .error {
        color: #333;
      }
    }
    .messages {
      ul {
        margin: 0 0 0 1em; /* LTR */
        padding: 0;
        li {
          list-style-image: none;
        }
      }
    }
  }
  
 }
 .ok {
  color: #234600;
} 
  // div.status {
  //   background-image: url(../../images/message-24-ok.png);
  //   border-color: #be7;
  // }
  // div.status,
  // .ok {
  //   color: #234600;
  // }
 
  table {
    tr {
      .ok {
        background-color: #f8fff0;
      }
      .warning {
        background-color: #fffce5;
      }
      .error {
        background-color: #fef5f1;
      }
    }
    
  }
  .warning {
    color: #840;
  } 
  .error {
    color: #8c2e0b;
  }