
/**
 * @file
 * Generic theme-independent base styles.
 */

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list */
#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
  }
  li {
    background: #fff;
    color: #000;
    cursor: default;
    white-space: pre;
    zoom: 1; /* IE7 */
  }
}

/* Animated throbber */
html {
  .js {
    input {
      .form-autocomplete {
        background-image: url(../../images/throbber-inactive.png);
        background-position: 100% center; /* LTR */
        background-repeat: no-repeat;
      }
      .throbbing {
        background-image: url(../../images/throbber-active.gif);
        background-position: 100% center; /* LTR */
      }
    }
    fieldset {
      .collapsed {
        border-bottom-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        height: 1em;
      }
      .fieldset-wrapper {
        display: none;
      }
    }
  }
}


fieldset {
  .collapsible {
    position: relative;
  }
  .fieldset-legend {
    display: block;
  }
}

.form-textarea-wrapper {
  textarea {
    display: block;
    margin: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .grippie {
    background: #eee url(../../images/grippie.png) no-repeat center 2px;
    border: 1px solid #ddd;
    border-top-width: 0;
    cursor: s-resize;
    height: 9px;
    overflow: hidden;
  }
}


/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
body {
  .drag {
    cursor: move;
  }
}
.draggable {
  a {
    .tabledrag-handle {
      cursor: move;
      float: left; /* LTR */
      height: 1.7em;
      margin-left: -1em; /* LTR */
      overflow: hidden;
      text-decoration: none;
    }
  }
}
a {
  .tabledrag-handle {
    :hover {
      text-decoration: none;
    }
    .handle {
      background: url(../../images/draggable.png) no-repeat 6px 9px;
      height: 13px;
      margin: -0.4em 0.5em; /* LTR */
      padding: 0.42em 0.5em; /* LTR */
      width: 13px;
    }
  }
  .tabledrag-handle-hover {
    .handle {
      background-position: 6px -11px;
    }
  }
  }

div {
  .indentation {
    float: left; /* LTR */
    height: 1.7em;
    margin: -0.4em 0.2em -0.4em -0.4em; /* LTR */
    padding: 0.42em 0 0.42em 0.6em; /* LTR */
    width: 20px;
  }
  .tree-child {
    background: url(../../images/tree.png) no-repeat 11px center; /* LTR */
  }
  .tree-child-last {
    background: url(../../images/tree-bottom.png) no-repeat 11px center; /* LTR */
  }
  .tree-child-horizontal {
    background: url(../../images/tree.png) no-repeat -11px center;
  }
}

.tabledrag-toggle-weight-wrapper {
  text-align: right; /* LTR */
}

/**
 * TableHeader behavior.
 *
 * @see tableheader.js
 */
table {
  .sticky-header {
    background-color: #fff;
    margin-top: 0;
  }
}

/**
 * Progress behavior.
 *
 * @see progress.js
 */
/* Bar */
.progress {
  .bar {
    background-color: #fff;
    border: 1px solid;
  }
  .filled {
    background-color: #000;
    height: 1.5em;
    width: 5px;
  }
  .percentage {
    float: right; /* LTR */
  }
}

.ajax-progress {
  display: inline-block;
}
.ajax-progress {
  .throbber {
    background: transparent url(../../images/throbber-active.gif) no-repeat 0px center;
    float: left; /* LTR */
    height: 15px;
    margin: 2px;
    width: 15px;
  }
  .message {
    padding-left: 20px;
  }
}

tr {
  .ajax-progress {
    .throbber {
      margin: 0 2px;
    }
  }
}
.ajax-progress-bar {
  width: 16em;
}

/**
 * Inline items.
 */
 .container-inline {
   div{
    display: inline;
  }
  label {
    display: inline;
  }
  .fieldset-wrapper {
    display: block;
  }
 }


.nowrap {
  white-space: nowrap;
}


html.js .js-hide {
  display: none;
}

.element-hidden {
  display: none;
}


.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  .element-focusable {
    :active {
      position: static !important;
      clip: auto;
      overflow: visible;
      height: auto;
    }
    :focus {
      position: static !important;
      clip: auto;
      overflow: visible;
      height: auto;
    }
  }
}


.clearfix {
  :after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
/* IE6 */
* html {
  .clearfix {
    height: 1%;
  }
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}
