.views-exposed-form {
  .views-exposed-widget {
    float: left; /* LTR */
    padding: .5em 1em 0 0; /* LTR */
  }
  .views-exposed-widget {
    .form-submit {
      margin-top: 1.6em;
    }
  }
  .form-item {
    margin-top: 0;
    margin-bottom: 0;
  }
  .form-submit {
    margin-top: 0;
    margin-bottom: 0;
  }
  label {
    font-weight: bold;
  }
}
  
  
  
  
  

  
  .views-exposed-widgets {
    margin-bottom: .5em;
  }
  
 
  .views-align-left {
    text-align: left;
  }
  .views-align-right {
    text-align: right;
  }
  .views-align-center {
    text-align: center;
  }
  
 
  .views-view-grid {
    tbody {
      border-top: none;
    }
  }
  
  .view .progress-disabled {
    float: none;
  }